.button {
  align-items: center;
  border-radius: 1rem;
  color: var(--white-primary);
  display: flex;
  font-weight: 600;
  padding: 0.5rem 2rem;
  text-align: center;
}

.button-primary {
  background-color: var(--primary);
}


.button-secondary {
  background-color: var(--secondary);
}
